{% extends 'base.html' %}

{% block title %}
{{ article.title|striptags }} - {{ super() }}
{% endblock %}

{% block content %}
    <article class="flex flex-col">
        <header>
            <h1 class="font-semibold text-4xl tracking-tight py-4">
                <span class="block">
                    {{ article.title }}
                </span>
            </h1>
            <section id="metadata" class="flex flex-row flex-wrap justify-items-start space-y-1 space-x-4">
                <address class="flex flex-row flex-wrap">
                    {% for author in article.authors %}
                        <a class="text-sm text-gray-400 hover:underline" href="{{ SITEURL }}/{{ author.url }}">
                            {{ author }}
                            {% if not loop.last %}
                                ,
                            {% endif %}
                        </a>
                    {% endfor %}
                </address>
                <div class="flex flex-row flex-wrap">
                    {% for tag in article.tags %}
                        <a href="{{ SITEURL }}/tag/{{ tag }}" class="text-sm text-gray-400 hover:underline">
                            {{ tag }}
                        </a>
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="flex flex-row flex-wrap">
                    {% if article.category %}
                        <p class="text-sm text-gray-400">
                            Category: 
                            <a href="{{ SITEURL }}/category/{{ article.category }}" class="text-sm text-gray-400 hover:underline">
                                {{ article.category }}
                            </a>
                        </p> 
                    {% endif %}
                </div>
                <div class="flex flex-row flex-wrap">
                    <p class="text-sm text-gray-400">
                        Published {{ article.date|strftime('%a %d %b %Y') }}
                    </p>
                </div>
                <div class="flex flex-row flex-wrap">
                    <p class="text-sm text-gray-400">
                        Last modified {{ article.modified|strftime('%a %d %b %Y') }}
                    </p>
                </div>
            </section>
            
        </header>
        
        <div class="article-content">
            <hr />
            {{ article.content }}
            <hr />
        </div>

        {% include 'openring.html' %}
        
    </article>
{% endblock %}