{% extends 'base.html' %}

{% block title %}Home - {{ super() }}{% endblock %}

{% block content %}
    <section class="flex flex-col">
        <h2 class="font-semibold text-3xl my-2">About Me</h2>
        <p class="font-normal text-xl">
            Hi! I'm Iwan, a student at <a class="text-blue-500 hover:underline" href="https://cardiff.ac.uk">Cardiff University</a> studying Computer Science.
        </p>
        <p class="font-normal text-xl">
            I am currently working on a few personal projects, including a blog and portfolio website.
        </p>
        <hr class="h-px border-t-0 bg-transparent bg-gradient-to-r from-transparent via-neutral-500 to-transparent opacity-25 my-4" />
    </section>

    <h2 class="font-semibold text-3xl">Recent Articles</h2>

    {% if articles %}
        <div id="articles" class="flex flex-col h-auto">
        {% for article in articles %}
            {% if loop.index0 < 5 %}
            <!-- TODO: Hardcoded to 5 articles max on homepage, should set to variable. -->
                <article class="py-4 hover:border-gray-700 border-transparent border-2 flex-none grow-0 h-auto min-h-0">
                    <div class="flex flex-col gap-x-4 gap-y-1 px-2 py-1 items-start">
                        <header class="flex flex-row flex-wrap justify-items-start items-baseline gap-x-2">
                            <a href="{{ SITEURL }}/{{ article.url }}" class="text-2xl font-semibold">
                                {{ article.title }}
                            </a>
                            <span class="text-sm text-gray-400 flex-1 md:flex-auto ml-0.5">
                                {{ article.date|strftime('%a %d %b %Y') }}
                            </span>
                        </header>
                        <div class="flex flex-row flex-wrap justify-items-start">
                            <address class="not-italic text-md text-gray-400 flex-1 md:flex-auto ml-0.5">
                                {% for author in article.authors %}
                                <a class="hover:underline" href="{{ SITEURL }}/{{ author.url }}">
                                    {{ author }}
                                    {% if not loop.last %}
                                        ,
                                    {% endif %}
                                </a>
                            {% endfor %}
                            </address>
                        </div>
                        
                        <div class="article-content text-slate-400 italic">{{ article.summary }}</div>
                        <!-- TODO: Date format doesn't obey locale. -->
                    </div>
                </article>
            {% endif %}
        {% endfor %}
        </div>
    {% endif %}
{% endblock %}
